@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

html,body{
    font-size: 62.5%;
}
li{
    list-style: none;
}
/* *THEMESS VARIABLES */

.cute{

    --bg-hero:#181818;
    --article-bg:rgb(253, 181, 207);
    --article-border:.2rem solid transparent;
    --buttons: #f0647b;
    --btn-hover:#d6465e;
    /*tittle and span */
    --title-color:#000;
    --span-color:#000;
    /* items */
    --ul-items-border-bottom:.2rem solid #efaeff;
    /* --ul-items-bg:#e6bfdc98; */
    --ul-items-bg:#ff839896;
    --ul-items-p-color:#000;

}
.light{
    --bg-hero:#181818;
    --article-bg:#fff;
    --article-border:.2rem solid transparent;
    --buttons: #e92ff4;
    --btn-hover:#dd4fd1;
    /* //tittle and span */
    --title-color:#000;
    --span-color:#000;
    /* items */
    --ul-items-border-bottom:.2rem solid #d2d5da;
    --ul-items-bg:#fff;
    --ul-items-p-color:#000;
}

.dark{
    --bg-hero: #181818;
    /* //articler: */
    /* --article-bg:#131415; */
    --article-bg:#18191b;
    --article-border:.2rem solid #fff;
    --article-box-shadow:rgba(236, 231, 231, 0.35) 0px 5px 15px;
    /* //botones */
    --buttons: #961e28;
    --btn-hover:#b82b43;
    /* //tittle and span */
    --title-color:#fff;
    --span-color:#fff;
    /* items */
    --ul-items-border-bottom:.2rem solid #fff;
    --ul-items-bg:#1a1a1b;
    /* --ul-items-bg:#33383; */
    --ul-items-p-color:#fff;


}
.main{
    background-color: #fff;

 
}
.hero{
    background: var(--bg-hero);
    background-size: cover;
    background-position: center;
    background-position-y: 200rem;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__to-do-container{
    background: var(--article-bg);
    background-size: cover;
    background-position: center;
    border: var(--article-border);
    box-shadow: var(--article-box-shadow);
    width: 40%;
    height: 80%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}
/* THEMES */
.hero__themes{
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-top: 2rem;
    gap: 1rem;
   
}
.botone{
    width: 6rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.btn-theme{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;

    
}
.btn-theme--cute{
    background-color: pink;
}
.btn-theme--cute:active{
    background-color:#f0647b;
}
.btn-theme--dark{
    background-color: #181818;

}
.btn-theme--dark:active{
    background-color: #fff;
    border: .1rem solid #000;

}
.btn-theme--light{
    background-color: #fff;
}
.btn-theme--light:active{
    background-color: #000;
    border: .1rem solid #fff;
}
.btn-position{
    position: absolute;
}
.btn__img{
    width: 100%;
}
/* Text info */
.hero__text{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.hero__title{
    font-size: 2.6rem;
    color:var(--title-color);
    text-decoration: double;
}
.hero__span{
    font-size: 1.5rem;
    color: #41454b;
    color: var(--span-color);
}

/* FORM */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    position: relative;

}

.form__inputs{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.form__input{
    border: .1rem solid #b6b9be;
    padding-left: 1rem;
    width: 60%;
    height: 3.3rem;
    border-radius: .6rem;
    outline: none;
    color: #4e5052;
    
}
.form__input:focus{
    border-color:var(--magenta);
}

.form__buttons-container{
    display: flex;
    gap: 1rem;
}
.btn{
    background-color: var(--buttons);
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: .5rem 2rem;
    color: #fff;
    cursor: pointer;
    /* transition: .1s ease; */
}

.btn:hover{
    background-color: var(--btn-hover);

}
.addbtn{
    padding: .5rem 1rem;
}
.error {
    background: #ff3333;
    color: white;
    padding: 1rem 10rem;
    position: absolute;
    top: 1rem;
    right: 0;
    border-radius: 15px;
    font-size: 1.5rem;
    text-align: center;
    
  }
  



/* Lista */
.hero__list-container{
    height: 70%;
    width: 100%;
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    overflow-y: scroll;
    background: var(--bg-ul);
    background-size: cover;
    background-position: center;
    background-position-y: 50rem;

    
}
.hero__list-container::-webkit-scrollbar{
    width: 0;
}
.hero__item{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    width: 80%;
    width: 100%;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: #161718;
    background-color: var(--ul-items-bg);
    border-bottom: var(--ul-items-border-bottom);
}
.hero__p{
    flex-grow: 1;
    color: var(--ul-items-p-color);
    font-weight: 500;
}
.btn-remove{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    flex-basis: 1;
    border-radius: 80%;
    width: 3rem;
    padding: .5rem;
    cursor: pointer;
}
.remove{
    font-size: 1.8rem;
    color: red;
}

.check[type="checkbox"]{
    flex-basis: 1;
    cursor: pointer;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    border: 1px solid #d2d5da;
    background: #fff;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    outline: none;
    /* position: relative; */
    z-index: 3;
    /* top: 3px; */
    /* order: 1; */
    margin-right: 10px;
    flex-shrink: 0;
}
.check:checked {
    background: rgb(1, 163, 10);
    background-size: contain;
    border-color: rgb(1, 163, 10);
}


@media (min-width:320px) and (max-width:480px){
    .hero__to-do-container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        border: none;
    }
    .form__input{
        width: 70%;
    }
    .error{
        width: 100%;

    }
}

@media (min-width:600px) and (max-width:1024px){
    .hero__to-do-container{
        width:80%;
        border: none;
    }

}